:root{
    --purplePrimary:#6f12dc; /* #6f12dc */
    --pinkPrimary:#f00271; /* #f00271 */
    --orangePrimary: #eaa94d; /*#eaa94d*/
    --white: #ffffff;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    border:none;
    text-decoration: none;
    background:none;
}

