@import url(./global.css);

body{
    font-size:16px;
    line-height: 1.6;
    font-family: "Nunito", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Chewy", Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

/* Header */

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: var(--orangePrimary);
}

header>img{
    width: 100px;
}

header>nav{
    display:flex;
    gap:20px;
}

header>nav>a{
    text-align: center;
    padding:1% 11%;
}

/* main */

main>img{
    width: 100%;
}

main{
    background-image: url(../imgs/imagensATVs/isa-pintando-rosto-de-criança.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:6%;
    width: 100%;
    height: 100%;
}

/* onboard */

.onboard{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--purplePrimary);
    color:white;
    padding:5%;
}

.onboardText{
    text-align: center;
}

/* services */

.services{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--orangePrimary);
    padding:3%;
}

.servicesGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.servicesCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 2px solid var(--pinkPrimary);
    border-radius: 40px;
    padding:10%;
    width: 70%;
    margin: 5% 30%;
    background-color: var(--purplePrimary);
    color:white;
}

.servicesCard>img{
    width: 40%;
}

/* galery */

.galery{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--pinkPrimary);
}

.galery>h2{
    font-size: 2em;
    margin-top:5%;
}

.galeryGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.galeryGrid>img{
    width: 80%;
    margin:5%;
    border-radius: 70px 30px 80px 90px;
}

/* footer */

footer{
    background-color: var(--orangePrimary);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding:5%;
}

.footerSocial>nav>img{
    width: 20%;
}

/* buttons */

#buttonOrange{
    padding:1% 5%;
    background-color: var(--orangePrimary);
    color:black;
    font-size: 1.7em;
    font-family: "Chewy", sans-serif;
    margin:20px;
}
#buttonPurple{
    padding:1% 5%;
    background-color: var(--purplePrimary);
    color:white;
    font-size: 1.5em;
    font-family: "Chewy", sans-serif;
    margin:20px;
}

/* QUERRY querry */

@media (min-width: 325px){
    h1, h2, h3, h4, h5, h6 {
        font-size:1.3em;
    }

    header>nav{
        display:none;
    }

    main>img{
        width: 50%;
    }

    .servicesGrid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .galeryGrid{
        display:grid;
        grid-template-columns: 1fr;
        padding: 10px 5% 0px 5%;
    }
    #buttonOrange{
        padding:2% 10%;
        font-size: 1.25em;
    }
    #buttonPurple{
       padding:2% 10%;
        font-size: 1.25em; 
    }
    footer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:10%;
    }
    
}

@media (min-width:600px){
    h1, h2, h3, h4, h5, h6 {
        font-size:1.2em;
    }
    header>nav{
        display:none;
    }
    
    main>img{
        width: 50%;
    }
    .servicesGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .galeryGrid{
    display:grid;
    grid-template-columns: 2fr;
    padding: 10px 5% 0px 5%;
}
    #buttonOrange{
        padding:2% 10%;
        font-size: 1.5em;
    }
    #buttonPurple{
       padding:2% 10%;
        font-size: 1.25em; 
    }
footer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding:5%;
}
}

@media (min-width: 1024px){

    h1, h2, h3, h4, h5, h6 {
        font-size:2em;
    }
    header>nav{
    display:flex;
    gap:20px;
}

    .servicesGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}
    .galeryGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}
footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding:5%;
}
    

}