@import url(./global.css);

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: var(--orangePrimary);
}

header>img{
    width: 100px;
}

header>nav{
    display:flex;
    gap:20px;
}

header>a{
    padding:1% 5%;
    background-color:white;
}

main{
    background-image: url(../imgs/imagensATVs/atividade-em-ação-do-pano-gigante-em-hotel-diferente-ALT.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:6%;
    width: 100%;
    height: 100%;
}