@import url(./global.css);

body{
    font-size:16px;
    line-height: 1.6;
    font-family: "Nunito", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Chewy", Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

/* Header */

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    padding: 2% 5%;
    background-color: var(--orangePrimary);
    z-index: 999;
    border-bottom: 5px solid var(--purplePrimary);
}

header>img{
    width: 9%;
}

header>nav{
    display:flex;
}

header>nav>a{
    text-align: center;
    display: flex;
    align-items: flex-end;
    padding:4% 15%;
    margin: -10px;
    font-size: 1em;
    text-transform: capitalize;
    border-bottom: 3px solid var(--purplePrimary);
}

header>nav>a:hover{
    border-bottom: 5px solid var(--purplePrimary);
    transition: 0.3s ease-in-out;
}

.sidebar {
  position: fixed;
  top: 0;
  left:0;
  width: 220px;
  height: 100%;
  background: var(--purplePrimary);
  border-right:3px solid var(--orangePrimary);
  color: white;
  padding-top: 60px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 1000;
}

.sidebar.visible {
  transform: translateX(0);
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 16px;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar>nav>ul>li>a{
    padding:10px;
    border-bottom: 2px solid black;
}

#toggleSidebar {
  margin: 20px;
  padding: 10px 20px;
  font-size: 18px;
}

.hidden {
  display: none;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

/* Show overlay when sidebar is active */
.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

/* main */

#mainLogo{
    width: 40%;
    margin:10% 6%;
}

#firstMain{
    background-image: url(../imgs/imagensATVs/isa-pintando-rosto-de-criança.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:saturation (50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:6%;
    width: 100%;
    height: 100%;
}

/* onboard */

.onboard{
    display:flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: var(--purplePrimary);
    color:white;
    padding:8%;
}

#onboardImgElementRight{
    display:flex;
    position: absolute;
    width: 20%;
    right:10%;
}
#onboardImgElementLeft{
    display:flex;
    position: absolute;
    width:20%;
    left:10%;
}

.onboardText{
    text-align: center;
}

/* services */

.services{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--orangePrimary);
    padding:3%;
}

.servicesText{
    text-align: center;
}

.serviceButtons{
    display:flex;
    justify-content: center;
    align-items: center;
}

.servicesGrid{
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.servicesCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 2px solid var(--pinkPrimary);
    border-radius: 40px;
    padding:10%;
    width: 70%;
    margin: 5% 30%;
    background-color: var(--purplePrimary);
    color:white;
    box-shadow: 0px 10px 20px rgb(44, 46, 101);
}

.servicesCard:hover{
    transform: translateY(-1%);
}

.servicesCard>img{
    width: 40%;
}

.otherService{
    background-color: var(--purplePrimary);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5%;
    color:white;
}

.otherService>h3, .otherService>h4{
    color:white;
    padding:2% 0px;
}

.otherServiceGrid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:2%;
}

.otherServiceCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--orangePrimary);
    border: 3px solid var(--pinkPrimary);
    padding:5%;
    width: 100%;
}

.otherServiceCard>img{
    width: 100%;
    height: 80%;
    object-fit:cover;
}
/* galery */

.galery{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--pinkPrimary);
}

.galery>h2{
    font-size: 2em;
    margin-top:5%;
}

.galeryGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.galeryGrid>img{
    width: 80%;
    margin:5%;
    transition: 0.5s ease-in-out;
    border-radius: 30% 60% 20% 40%;
}

.galeryGrid>img:hover{
    transition: 1s ease-in-out;
    border-radius: 40% 20% 60% 30%;
    border: 6px solid var(--orangePrimary);
}

/* footer */

footer{
    background-color: var(--orangePrimary);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding:5%;
}

.footerNav>ul>li>a{
    font-size: 1em;
    text-transform: capitalize;
    border-bottom: 2px solid var(--purplePrimary);
}

.footerSocial>nav>img{
    width: 20%;
}

/* Page services */

#secondMain{
    background-image: url(../imgs/imagensATVs/atividade-em-ação-do-pano-gigante-em-hotel-diferente.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:saturation (50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:6%;
    width: 100%;
    height: 100%;
}

main>h1{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15%;
    font-size: 3em;
    color: white;
    text-shadow: 0px 0px 3px black;
}

/* servuce buttons grid */

.serviceButtons{
    background-color: var(--orangePrimary);
    display:flex;
    flex-direction: column;
    padding:5%;
    justify-content: center;
    align-items: center;
}

.serviceButtons>h2{
    text-align: center;
}

.buttonGrid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 10%;
}

.buttonGrid>button{
    font-size: 1.2em;
    padding: 3% 10%;
    text-align: center;
    width: 200px;
}

/* services */

.hidden { display: none; } /*do not touch!!!!*/
.visible { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 15%;
    background-color: var(--purplePrimary); 
}

.visible>img{
    width: 30%;
}

.serviceText{
    display:flex;
    flex-direction: column;
    width: 40%;
    padding:5%;
    text-align: center;
    color: white;
}

/* about us */

.sobreNos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--orangePrimary);
}

.whatAbout{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--purplePrimary);
    color: white;
    width: 100%;
    padding:5%;
}

.listAbout{
    display:flex;
    flex-direction: column;
    padding:5%;
    width: 100%;
}

.listAbout>ul{
    margin: 2% 0px;
    padding:0px 5%;
}

.offerList{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--purplePrimary);
    color: white;
    padding:5%;
    width: 100%;
}

.offerList>ul{
    margin: 2% 0px;
    padding:0px 5%;
}

.compromisse{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pinkPrimary);
    color: white;
    width: 100%;
    padding:5%;
}

.compromisse>p{
    width: 50%;
    text-align: center;
}

/* buttons */

#buttonOrange{
    padding:1% 5%;
    background-color: var(--orangePrimary);
    color:black;
    font-size: 1.7em;
    font-family: "Chewy", sans-serif;
    margin:20px;
    cursor:pointer;
}
#buttonPurple{
    padding:1% 5%;
    background-color: var(--purplePrimary);
    color:white;
    font-size: 1.5em;
    font-family: "Chewy", sans-serif;
    margin:20px;
    cursor:pointer;
}

/* QUERRY querry */

@media (min-width: 325px){
    h1, h2, h3, h4, h5, h6 {
        font-size:1.3em;
    }

    header>nav{
        display:none;
    }
    header>a{
        display:none;
    }

    main>img{
        width: 50%;
    }

    .servicesGrid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .galeryGrid{
        display:grid;
        grid-template-columns: 1fr;
        padding: 10px 5% 0px 5%;
    }
    .otherServiceGrid{
    grid-template-columns: repeat(1, 1fr);
}
    .hidden { 
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: var(--purplePrimary);
        padding: 5% 0%;
     }
     .hidden>img{
        width: 50%;
     }
     .buttonGrid{ display:none;}
    #buttonOrange{
        padding:2% 10%;
        font-size: 1.25em;
    }
    #buttonPurple{
       padding:2% 10%;
        font-size: 1.25em; 
    }
    footer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:10%;
    }
    
}

@media (min-width:600px){
    h1, h2, h3, h4, h5, h6 {
        font-size:1.2em;
    }
    header>nav{
        display:none;
    }
    header>a{
        display:none;
    }
    
    main>img{
        width: 50%;
    }
    .servicesGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .galeryGrid{
    display:grid;
    grid-template-columns: 2fr;
    padding: 10px 5% 0px 5%;
}

.otherServiceGrid{
    grid-template-columns: repeat(2, 1fr);
}
    
     .buttonGrid{ display:none;}
    #buttonOrange{
        padding:2% 5%;
        font-size: 1.5em;
    }
    #buttonPurple{
       padding:2% 5%;
        font-size: 1.25em; 
    }
footer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding:5%;
}
}

@media (min-width: 1024px){

    h1, h2, h3, h4, h5, h6 {
        font-size:2em;
    }
    header{
        position:fixed;
        width: 100%;
    }
    header>nav{
    display:flex;
    gap:20px;
}
    header>a{
            display:flex;
        }

    .servicesGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}
    .galeryGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.otherServiceGrid{
    grid-template-columns: repeat(4, 1fr);
}
.hidden { display: none; } /*do not touch!!!!*/
.visible { 
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.buttonGrid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 10%;
}
footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding:5%;
}
 .sidebar,
  #toggleSidebar {
    display: none;
  }

.hidden {
  display: none;
}

    

}